<br><br><br>

<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <div class="login100-form-title" style="background-image: url(images/bg-01.jpg);">
                <span class="login100-form-title-1">
                    Sign In
                </span>
            </div>

            <form class="login100-form validate-form">
                <div class="wrap-input100 validate-input m-b-26" data-validate="Username is required">
                    <span class="label-input100">{{'header.signup.user' | translate}}</span>
                    <input class="input100" type="text" name="username" placeholder="{{'header.signup.sign' | translate}}">
                    <span class="focus-input100"></span>
                </div>

                <div class="wrap-input100 validate-input m-b-18" data-validate = "Password is required">
                    <span class="label-input100">{{'header.signup.pass' | translate}}</span>
                    <input class="input100" type="password" name="pass" placeholder="{{'header.signup.epass' | translate}}">
                    <span class="focus-input100"></span>
                </div>

                <div class="flex-sb-m w-full p-b-30">
                    <div class="contact100-form-checkbox">
                        <a routerLink="/signup" class="txt1">
                            {{'header.signup.sign' | translate}}
                        </a>
                    </div>

                    <div>
                        <a routerLink="/forgot" class="txt1">
                            {{'header.forgot.for' | translate}}?
                        </a>
                    </div>
                </div>

                <div class="container-login100-form-btn">
                    <button class="login100-form-btn">
                        Login
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>