<div class="container-fluid">

  <div class="row">
        
    <div class="col-md-12" style="background-image: url('assets/2.jpg');background-position: center;background-repeat: no-repeat;background-size: cover;height: 600px;" >
      <div class="breadcrumb-section">
        <div class="home"><h5 style="padding: 5px; border-radius: 5px;">{{'header.contactus.home' | translate}}</h5></div>
        <div class="contact">
          <h5><a routerLink="home" style="color: rgb(0, 17, 255);">{{'header.contactus.home' | translate}}/</a>
            {{'header.contactus.contact' | translate}}</h5>
        </div>
</div>
      </div>
    </div>
    <div class="col-md-12">
        <div class="col-md-12"><h5 class="h5">{{'header.quality.the' | translate}}</h5> </div>
    </div>
    <div class="col-md-12" style="float: left;">
        <div class="col-md-4" style="float:left">
            <div class="section">
                <h6 class="hover"><a id="qua" routerLink="introduction">INTRODUCTION</a></h6>
                <p class="to">{{'header.quality.to' | translate}}</p>
                <h6 class=""><a id="qua" routerLink="qualitycontrol">{{'header.quality.quality' | translate}}</a></h6>
                <p class="nel">{{'header.quality.nellsteel' | translate}}</p>
                <h6 class=""><a id="qua" routerLink="ohsas">OHSAS 18001</a></h6>
                <p class="hel">{{'header.quality.health' | translate}}</p>
                <h6 class=""><a id="qua" routerLink="iso">ISO 14001</a></h6>
                <p class="env">{{'header.quality.Environmental' | translate}}</p>
                <h6 class=""><a id="qua" routerLink="policy">{{'header.quality.policy' | translate}}</a></h6>
                <p class="cor">{{'header.quality.corporate' | translate}}</p>

            </div>
        </div>
        <div class="col-md-8" style="float: left;">
            <h5 class="" style="text-shadow:2px 2px;font-size:25px; text-align: center;">{{'header.quality.factory' | translate}}</h5>
            <img src="assets/quality.intro.jpeg" style="height: 394px;
            padding: 0 0 0 18px;
            width: 87%;" >
        </div> 
        <div>
        </div>
        
    </div> 

    <div class="col-md-12">
      <p class="text" style="text-align:justify; padding: 20px; font-size: 18px;">{{'header.quality.meet' | translate}}</p>
    </div>

</div>







