<!--Start footer area-->  
<footer class="footer-area" style="background-color: #333;
;">
  <div class="container">
      <div class="row">
          <div class="col-md-12">
              <ul class="footer-contact-info">
                  <li><i class="fa fa-whatsapp" style="font-size:24px; color: #fa6909; margin-right: 8px;"></i>
                    <b>{{'header.footer.phone' | translate}}</b> +221786317911</li>
                  <li><i class='fas fa-location-arrow' style='font-size:24px; color: #fa6909; margin-right: 8px;'></i>
                    <b>{{'header.footer.add' | translate}}</b> {{'header.footer.address' | translate}}</li>
                  <li><i class='far fa-clock' style='font-size:24px; margin-right: 8px; color: #fa6909;'></i>
                    <b>{{'header.footer.wrkhrs' | translate}}</b> Mon - Sat: 9am to 8pm{{'header.footer.monsat' | translate}}</li>
              </ul>
          </div>
      </div>
  </div>
  <div class="container">
      <div class="row">
          <!--Start single footer widget-->
          <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
              <div class="single-footer-widget pd-bottom50">
                  <div class="title">
                      <h3>about Us{{'header.footer.abtus' | translate}}</h3>
                  </div>
                  <div class="about-us">
                      <p>{{'header.footer.footrintro' | translate}}</p>
                      <ul class="footer-social-links">
                          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                          <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                          <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                      </ul>
                  </div>
              </div>
          </div>
          <!--End single footer widget-->
          <!--Start single footer widget-->
          <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
              <div class="single-footer-widget marginlft pd-bottom50">
                  <div class="title">
                      <h3>{{'header.footer.usefullnks' | translate}}</h3>
                  </div>
                  <ul class="usefull-links">
                      <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>{{'header.footer.agriproc' | translate}}</a></li>
                      <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>{{'header.footer.mechengi' | translate}}</a></li>
                      <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>{{'header.footer.chemresrch' | translate}}</a></li>
                      <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>{{'header.footer.petrolgas' | translate}}</a></li>
                      <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>{{'header.footer.materengi' | translate}}</a></li>
                      <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>{{'header.footer.pwerenrgy' | translate}}</a></li>
                  </ul>
              </div>
          </div>
          <!--End single footer widget-->
          <!--Start single footer widget-->
          <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
              <div class="single-footer-widget">
                  <div class="title">
                      <h3>{{'header.footer.rcntpst' | translate}}</h3>
                  </div>
                  <ul class="recent-post">
                      <li class="single-post">
                          <div class="icon-holder">
                              <span class="flaticon-arrows-1"></span>
                          </div>
                          <div class="text-holder">
                            <!-- <i class='fas fa-long-arrow-alt-right' style='font-size:24px; color: yellow; margin-right: 10px;'></i> -->

                              <a class="post-title" href="#">{{'header.footer.fctawrd' | translate}}</a>
                              <div class="post-info">
                                  <span>March 14, 2017{{'header.footer.mar14' | translate}}</span>
                              </div>
                          </div>
                      </li>
                      <li class="single-post">
                          <div class="icon-holder">
                              <span class="flaticon-arrows-1"></span>
                          </div>
                          <div class="text-holder">
                              <a class="post-title" href="#">{{'header.footer.grtwrking' | translate}}</a>
                              <div class="post-info">
                                  <span>{{'header.footer.feb27' | translate}}</span>
                              </div>
                          </div>
                      </li>
                      <li class="single-post">
                          <div class="icon-holder">
                              <span class="flaticon-arrows-1"></span>
                          </div>
                          <div class="text-holder">
                              <a class="post-title" href="#">{{'header.footer.gudenginers' | translate}}</a>
                              <div class="post-info">
                                  <span>{{'header.footer.jan05' | translate}}</span>
                              </div>
                          </div>
                      </li>
                  </ul>
              </div>
          </div>
          <!--Start single footer widget-->
          <!--Start single footer widget-->
          <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
              <div class="single-footer-widget newsletter pd-lefttop margin-top">
                  <div class="title">
                      <h3>{{'header.footer.newletter' | translate}}</h3>
                  </div>
                  <div class="newsletter-form">
                      <p>{{'header.footer.subscrnewsletter' | translate}}</p> 
                      <form action="#">
                          <input type="email" name="email" placeholder="Email address">
                          <div class="icon-holder">
                              <span class="flaticon-envelope"></span>
                          </div>
                          <button type="submit">{{'header.footer.subscribeus' | translate}}</button>
                      </form>
                  </div>
              </div>
          </div>
          <!--End single footer widget-->
      </div>
  </div>
</footer>   
<!--End footer area-->

<!--Start copyright area-->
<section class="copyright-area" style="background-color: fdc900;">
  <div class="container">   
      <div class="row">
          <div class="col-md-6 col-sm-12">
              <div class="support">
                  <p><span class="flaticon-envelope"></span>{{'header.footer.anyquery' | translate}} <a href="commercial@nellsteel.com" style="color: black;">{{'header.footer.mailid' | translate}}</a></p> 
              </div>
          </div>
          <div class="col-md-6 col-sm-12">
              <div class="copyright">
                  <p style="color: black;"> {{'header.footer.footnte' | translate}}<a href="#"><b style="color: white;">{{'header.footer.webname' | translate}}</b></a></p>
              </div>
          </div>
      </div> 
  </div>  
</section>
<!--End copyright area-->

<!--Scroll to top-->
<div class="scroll-to-top scroll-to-target" data-target="html"><span class="fa fa-angle-up"></span></div>

<!-- main jQuery -->
<script src="assets/js/jquery-1.11.1.min.js"></script>
<!-- Wow Script -->
<script src="assets/js/wow.min.js"></script>
<!-- bootstrap -->
<script src="assets/js/bootstrap.min.js"></script>
<!-- bx slider -->
<script src="assets/js/jquery.bxslider.min.js"></script>
<!-- count to -->
<script src="assets/js/jquery.countTo.js"></script>
<!-- owl carousel -->
<script src="assets/js/owl.carousel.min.js"></script>
<!-- validate -->
<script src="assets/js/validation.js"></script>
<!-- mixit up -->
<script src="assets/js/jquery.mixitup.min.js"></script>
<!-- easing -->
<script src="assets/js/jquery.easing.min.js"></script>
<!-- gmap helper -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAHzPSV2jshbjI8fqnC_C4L08ffnj5EN3A"></script>
<!--gmap script-->
<script src="assets/js/gmaps.js"></script>
<script src="assets/js/map-helper.js"></script>
<!-- fancy box -->
<script src="assets/js/jquery.fancybox.pack.js"></script>
<script src="assets/js/jquery.appear.js"></script>
<!-- isotope script-->
<script src="assets/js/isotope.js"></script>
<script src="assets/js/jquery.prettyPhoto.js"></script> 
<script src="assets/js/jquery.bootstrap-touchspin.js"></script>
<!-- jQuery timepicker js -->
<script src="assets/timepicker/timePicker.js"></script>
<!-- Bootstrap select picker js -->
<script src="assets/bootstrap-sl-1.12.1/bootstrap-select.js"></script>                               
<!-- Bootstrap bootstrap touchspin js -->
<!-- jQuery ui js -->
<script src="assets/jquery-ui-1.11.4/jquery-ui.js"></script>
<!-- Language Switche  -->
<script src="assets/language-switcher/jquery.polyglot.language.switcher.js"></script>
<!-- Html 5 light box script-->
<script src="assets/html5lightbox/html5lightbox.js"></script>
<!-- Menuzord script-->
<script src="assets/menuzord/menuzord.js"></script>


<!-- revolution slider js -->
<script src="assets/assets/revolution/js/jquery.themepunch.tools.min.js"></script>
<script src="assets/assets/revolution/js/jquery.themepunch.revolution.min.js"></script>
<script src="assets/assets/revolution/js/extensions/revolution.extension.actions.min.js"></script>
<script src="assets/assets/revolution/js/extensions/revolution.extension.carousel.min.js"></script>
<script src="assets/assets/revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
<script src="assets/assets/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
<script src="assets/assets/revolution/js/extensions/revolution.extension.migration.min.js"></script>
<script src="assets/assets/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
<script src="assets/assets/revolution/js/extensions/revolution.extension.parallax.min.js"></script>
<script src="assets/assets/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
<script src="assets/assets/revolution/js/extensions/revolution.extension.video.min.js"></script>



<!-- thm custom script -->
<script src="js/custom.js"></script>


