<!-- <div class="container-fluid">
    <div class="row">
        <div class="col-md-8">
            <h5 class="" style="text-shadow:2px 2px;font-size:25px">NELLSTEEL FACTORY</h5>
            <img src="assets/quality.intro.jpeg" >
            <p class="text" style="text-align:justify;">To meet with customer expectations, NELLSTEEL understood Quality as all activities of process control and management which aims to meet those expectations of quality and service.

                For this reason our efforts are aimed at improving process and product controls, to give more added value for the customer and systematize these processes and controls to maintain over time.</p>
        </div>
    </div>
</div> -->

<div class="col-md-8">
    <h5 class="" style="text-shadow:2px 2px;font-size:25px">NELLSTEEL FACTORY</h5>
    <img src="assets/quality.intro.jpeg" >
    <p class="text" style="text-align:justify;">To meet with customer expectations, NELLSTEEL understood Quality as all activities of process control and management which aims to meet those expectations of quality and service.

        For this reason our efforts are aimed at improving process and product controls, to give more added value for the customer and systematize these processes and controls to maintain over time.</p>

</div> 