
<div class="container-fluid">
    <div class="row">
        
        <div class="col-md-12" style="background-image: url('assets/1.jpg');background-position: center;background-repeat: no-repeat;background-size: cover;height: 600px;" >
          <div class="breadcrumb-section">
            <div class="home"><h5 style="padding: 5px; border-radius: 5px;">{{'header.contactus.home' | translate}}</h5></div>
            <div class="contact">
              <h5><a routerLink="home" style="color: rgb(0, 17, 255);">{{'header.contactus.home' | translate}}/</a>
                {{'header.contactus.contact' | translate}}</h5>
            </div>

          </div>
        </div>
        <div class="col-md-12 img-fluid">
      </div>
  </div>
    <div class="row"  id="abc">
        <div class="col-md-12">
            <h4 class="pro">{{'header.social.project' | translate}}</h4>
        </div>
    </div>
    <div class="row" style="margin-left:190px;padding-left:55px;padding-right:55px;padding-bottom:55px">
        <div class="col-md-2"><img src="assets/edu.png" class="img-fluid .img-thumbnail" max-width:100px>
            <h6 class="emp">{{'header.social.employment' | translate}}</h6>
            <p class="a">{{'header.social.a' | translate}}</p>
        </div>
        <div class="col-md-2"><img class="img-fluid .img-thumbnail" src="assets/emp.png">
            <h6 class="emp">{{'header.social.employment' | translate}}</h6>
        <p class="a">{{'header.social.a' | translate}}</p>
    </div>
        <div class="col-md-2"><img class="img-fluid .img-thumbnail" src="assets/energy.png">
            <h6 class="emp">{{'header.social.employment' | translate}}</h6>
            <p class="a">{{'header.social.a' | translate}}</p>
        </div>
        <div class="col-md-2"><img class="img-fluid .img-thumbnail" src="assets/gdp.png">
            <h6 class="emp">{{'header.social.employment' | translate}}</h6>
            <p class="a">{{'header.social.a' | translate}}</p>
        </div>
        <div class="col-md-2"><img class="img-fluid .img-thumbnail" src="assets/health.png">
            <h6 class="emp">{{'header.social.employment' | translate}}</h6>
            <p class="a">{{'header.social.a' | translate}}</p>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>