 
<div class="container-fluid">
  <div class="row">
        
    <div class="col-md-12" style="background-image: url('assets/product.jpg');background-position: center;background-repeat: no-repeat;background-size: cover;height: 600px;" >
      <div class="breadcrumb-section">
        <div class="home"><h5 style="padding: 5px; border-radius: 5px;">{{'header.contactus.home' | translate}}</h5></div>
            <div class="contact">
              <h5><a routerLink="home" style="color: rgb(0, 17, 255);">{{'header.contactus.home' | translate}}/</a>
                {{'header.contactus.contact' | translate}}</h5>
            </div>

      </div>
    </div>
    <div class="col-md-12 img-fluid">
  </div>
</div>
      <!-- <div class="col-md-12" style="margin-top: 20px;background-color:  #FF7F50" > -->
        <div class="col-md-12" style="margin-top: 20px;background: #ff7e5f;  
        background: -webkit-linear-gradient(to left, #feb47b, #ff7e5f);
        background: linear-gradient(to left, #feb47b, #ff7e5f);
        " >
          <h5 class="h1">{{'header.products.TERMS' | translate}}</h5> 
      </div>
  <div class="col-md-12" style="float: left;background: #ff7e5f;  
  background: -webkit-linear-gradient(to left, #feb47b, #ff7e5f);
  background: linear-gradient(to left, #feb47b, #ff7e5f);">
      <div class="col-md-5" style="float:left">
          <!-- <div class="section">
              <h6 class="hover"><a class="link" style="text-decoration-line: none;color:black;font-weight: 50px;font-weight:bold; font-size: 20px;" routerLink="introduction">{{'header.products.Mode' | translate}}</a></h6>
              <ol style="list-style-type:square; font-size: 18px;">
                <li>{{'header.products.Payment' | translate}}</li>
                <li>{{'header.products.Bank' | translate}}</li>                
                <li>{{'header.products.Draft' | translate}}</li> 
              </ol>
             
               <h6 class=""><a style="text-decoration-line: none;color:black;font-weight: bold; font-size: 20px; "routerLink="qualitycontrol">{{'header.products.Nell' | translate}}</a></h6>
               <ol style="list-style-type:circle; font-size: 18px;">
                <li>{{'header.products.Producer' | translate}}</li>
                <li>{{'header.products.Bank' | translate}}</li>                
                <li>{{'header.products.Draft' | translate}}</li> 
              </ol>
            

               <ol style="list-style-type: square; font-size: 18px;">
                <li>{{'header.products.Created' | translate}}</li>
                <li>{{'header.products.Monthly' | translate}}</li>                
                <li>{{'header.products.Around' | translate}}</li> 
              </ol>

          </div> -->
           <div class="section">
              <h6 class="hover"><a class="link" style="text-decoration-line: none;color:black;font-weight: 50px;font-weight:bold; font-size: 20px;" routerLink="introduction">{{'header.products.intro' | translate}}</a></h6>
              <ol style="list-style-type:square; font-size: 25px;">
                <li>{{'header.products.pro1' | translate}}</li>
                <li>{{'header.products.pro2' | translate}}</li>                
                <li>{{'header.products.pro3' | translate}}</li>
                <li>{{'header.products.pro4' | translate}}</li>  
              </ol>
            </div>
      </div>
      <div class="col-md-7" style="float: left;">
          <img src="assets/dff.png" style="height: 394px;
          padding: 0 0 56px 18px;
          width: 87%;" >
      </div> 
  </div> 
  <br>
  <!-- <div class="col-md-12" style="background: #ff7e5f;  
  background: -webkit-linear-gradient(to left, #feb47b, #ff7e5f);
  background: linear-gradient(to left, #feb47b, #ff7e5f);">
      <p class="text" style="text-align:justify; padding: 20px; font-size: 18px">{{'header.products.La' | translate}}</p>
  </div> -->
      
       
</div> 