
<div class="container-fluid">
    <div class="row">
        
        <div class="col-md-12" style="background-image: url('assets/banner/b1.jpg');background-position: center;background-repeat: no-repeat;background-size: cover;height: 600px;" >
          <div class="breadcrumb-section">
            <div class="home"><h5 style="padding: 5px; border-radius: 5px;">{{'header.contactus.home' | translate}}</h5></div>
            <div class="contact">
              <h5><a routerLink="home" style="color: rgb(0, 17, 255);">{{'header.contactus.home' | translate}}/</a>
                {{'header.contactus.contact' | translate}}</h5>
            </div>

          </div>
        </div>
        <div class="col-md-12 img-fluid">
      </div>
  </div>
  <div class="row" style="background-color: #FF7F50;">
        <div class="col-md-12" style="margin-top: 20px;" >
            <h5 class="h5">{{'header.steel.the' | translate}}</h5> 
        </div>
      </div>
   <div class="row" style="background-color: #FF7F50;">
    <div class="col-md-12" style="float: left;">
        <div class="col-md-5" style="float:left">
            <div class="section">
                <h6 class="hover"><a class="link" style="text-decoration-line: none;color:black;font-weight: 50px;font-weight:bold; font-size: 20px;" routerLink="introduction">{{'header.steel.our' | translate}}</a></h6>
                
<ol style="list-style-type:upper-roman; font-size: 18px;">
    <li>{{'header.steel.producing' | translate}}</li>
    <li>{{'header.steel.produce' | translate}}</li>
    <li>{{'header.steel.support' | translate}}</li>
  </ol>
                <!-- <p class="vi">{{'header.steel.video' | translate}}</p> -->
                <h6 class=""><a style="text-decoration-line: none;color:black;font-weight: bold; font-size: 20px; "routerLink="qualitycontrol">{{'header.steel.ours' | translate}}</a></h6>
                <ol style="list-style-type:upper-roman; font-size: 18px;">
                    <li>{{'header.steel.geographic' | translate}}</li>
                    <li>{{'header.steel.production' | translate}}</li>
                    <li>{{'header.steel.product' | translate}}</li>
                    <li>{{'header.steel.Commercial' | translate}}</li>
                    <li>{{'header.steel.expertise' | translate}}</li>
                  </ol>
                <!-- <p class="">{{'header.quality.nellsteel' | translate}}</p> -->
                <h6 class=""><a style="text-decoration-line: none;color:black;font-weight: bold; font-size: 20px;"routerLink="ohsas">
                    {{'header.steel.OUR' | translate}}
                </a></h6>
                <ol style="list-style-type:upper-roman; font-size: 18px;">
                    <li><b>BTP </b> {{'header.steel.Construction' | translate}}</li>
                    <li><b>INFRASTRUCTURES  </b> {{'header.steel.Road' | translate}}</li>
                    <li><b>{{'header.steel.Classic' | translate}} </b> {{'header.steel.Wholesalers' | translate}}</li>
                  </ol>
                <!-- <p class="hea"><b>BTP </b> {{'header.steel.Construction' | translate}}</p> -->
                <h6 class=""><a style="text-decoration-line: none;color:black;font-weight: bold; font-size: 20px;" routerLink="iso">
                    {{'header.steel.pro' | translate}}
                </a></h6>
                <ol style="list-style-type:upper-roman; font-size: 18px;">
                    <li><b>{{'header.steel.importe' | translate}} </b>  F8 – F10 – F12 – F14 – F16 – F20 – F25 – F32</li>
                    <li><b>{{'header.steel.Local' | translate}} </b> F6 – F8 – F10 – F12</li>
                    <li><b>{{'header.steel.Fil' | translate}} </b></li>
                    <li><b>{{'header.steel.Fa' | translate}} </b></li>
                  </ol>
                <!-- <p class="" style="font-size: 18px;" >{{'header.quality.Environmental' | translate}}</p> -->
                <h6 class=""><a style="text-decoration-line: none;color:black;font-weight: bold; font-size: 20px;"routerLink="policy">{{'header.steel.NOS' | translate}}</a></h6>
                <!-- <p class="" style="font-size: 18px;">{{'header.quality.corporate' | translate}}</p> -->
                <ol style="list-style-type:upper-roman; font-size: 18px;">
                    <li>{{'header.steel.Etat' | translate}}</li>
                    <li>{{'header.steel.Nos' | translate}}</li>
                    <li>{{'header.steel.Senegal' | translate}}</li>
                    <li>{{'header.steel.Ou' | translate}}</li>
                    <li>{{'header.steel.de' | translate}} <b> BTP/VRD </b></li>
                    <li>{{'header.steel.design' | translate}}</li>
                  </ol>

            </div>
        </div>
        <div class="col-md-7" style="float: left;">
            <h5 class="" style="text-shadow:2px 2px;font-size:25px; text-align: center;">{{'header.quality.factory' | translate}}</h5>
            <img src="assets/banner/b4.jpg" style="height: 394px;
            padding: 0 0 0 18px;
            width: 87%;" >
        </div> 
        </div>
    </div>
    <div class="row" style="background-color: #FF7F50;">
    <div class="col-md-12" >
        <p class="text" style="text-align:justify; padding: 20px; font-size: 18px;">{{'header.steel.one' | translate}}</p>
    </div>
  </div>
</div>
        