
<div class="container-fluid">
  <div class="row">
        
  <div class="col-md-12" style="background-image: url('assets/2.jpg');background-position: center;background-repeat: no-repeat;background-size: cover;height: 600px;" >
    <div class="breadcrumb-section">
      <div class="home"><h5 style="padding: 5px; border-radius: 5px;">{{'header.contactus.home' | translate}}</h5></div>
      <div class="contact">
        <h5><a routerLink="home" style="color: rgb(0, 17, 255);">{{'header.contactus.home' | translate}}/</a>
          {{'header.contactus.contact' | translate}}</h5>
      </div>

    </div>
  </div>
</div>
    <div class="row">
      <div class="search-hero">
        <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="&#61442;  Start searching for a hero by id or name or country">
      </div>
     
    </div>
  </div>
  